<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173816447822-hdonheuko7ucopf5jso7145oe7tma3uk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173816447822-hdonheuko7ucopf5jso7145oe7tma3uk</string>
	<key>API_KEY</key>
	<string>AIzaSyAJmPLIm7UDWrUxkOuGDWDk8QOQCMF7Bf8</string>
	<key>GCM_SENDER_ID</key>
	<string>173816447822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phogames.pixelpaintpuzzle</string>
	<key>PROJECT_ID</key>
	<string>paint-puzzle-3d</string>
	<key>STORAGE_BUCKET</key>
	<string>paint-puzzle-3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173816447822:ios:4acf08b0bc5680258d141f</string>
</dict>
</plist>